*{
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
    box-sizing: border-box;
}

.header{
    height: 15%;
    width: 100%;
    top: 0%;
    padding: 0 2%;
    background: rgba(64,66,88, 0.7);
    position: absolute;
}

navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logo{
    width: 140px;
}

.nav-links{
    padding: 30px 0;
    font-weight: 600;
    list-style: none;
    display: flex;
    align-items: center;

    
}

.nav-links li{
    margin: 0 15px;
}

.nav-links li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 0;
    transition: 0.3s ease;
}

.N:hover{
    color:rgb(236, 164, 7);
    box-shadow: 0 2px 0 0 currentColor;
}

#btn{
    background: rgb(236, 164, 7);
    color: #fff;
    padding: 10px 30px;
    border-radius: 3px;
    cursor: pointer;
}

#btn:hover a:hover{
    color:#fff;
    box-shadow: none;
}

.btnicon img{
    width: 40px;
}

.btnicon:hover img:hover{
    transform: scale(1.1);
    transition: .5s;

}

.toggle{
    display: none;
}

.togl-btn {
    display: block;
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.togl-btn span {
    display: none;
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 0;
    transition: transform 0.3s ease-in-out;
}

.togl-btn span:nth-child(1) {
    top: 8px;
}

.togl-btn span:nth-child(2){
    top: 14px;
}

.togl-btn span:nth-child(3) {
    top: 20px;
}

@media screen and (max-width: 1100px) {
    .logo {
        width: 140px;
    }
    .nav-links {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: rgba(64, 66, 88, 0.7);
        padding: 10px 0;
        transition: all 0.3s ease-in;
    }

    .nav-links li {
        display: block;
        margin: 10px 0;
    }

    .toggle {
        display: none;
    }

    #togl {
        display: none;
    }

    .togl-btn span{
        display: block;
    }

    #togl:checked ~ .nav-links {
        display: flex;
        
    }

    #togl:checked ~ .togl-btn span:nth-child(1) {
        transform: rotate(-45deg) translate(-3px, 6px);
    }

    #togl:checked ~ .togl-btn span:nth-child(2) {
        opacity: 0;
    }

    #togl:checked ~ .togl-btn span:nth-child(3) {
        transform: rotate(45deg) translate(-3px, -6px);
    }

}

@media screen and (min-width: 1100px){
    .toggle{
        display: none;
    }
        
}
